<%- layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Add your new place!</h3>

                <form method="POST" action="/listing" novalidate class="needs-validation">
                    <div class="mb-3 mt-3">
                        <label for="title" class="form-label">
                            Title: </label>
                        <input id="title" placeholder="Add a catchy Title" name="Listing[title]" type="text" required
                            class="form-control">
                        <div class="valid-feedback">Title looks good!</div>

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">
                            Description: </label>
                        <textarea id="description" name="Listing[description]" type="text" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>

                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">
                            Image: </label>
                        <input id="image" placeholder="Enter image URL/Link" name="Listing[image]" type="text"
                            class="form-control" required>


                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">
                                Price: </label>
                            <input id="price" placeholder="1200" name="Listing[price]" type="number" min="100"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid price!</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">
                                Country: </label>
                            <input id="country" placeholder="US" name="Listing[country]" class="form-control"
                                type="text" required>
                            <div class="invalid-feedback">Please enter a valid country name!</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">
                            Location: </label>
                        <input id="location" placeholder="San Marcos, Texas" name="Listing[location]"
                            class="form-control" type="text" required>
                        <div class="invalid-feedback">Please enter a valid location!</div>

                    </div>

                    <br>
                    <br>
                    <button class="btn btn-dark mb-3 add-btn" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </body>